[submodule "embeds/LibStub"]
	path = embeds/LibStub
	url = https://github.com/wowace-mirror/LibStub
[submodule "embeds/LibChatAnims"]
	path = embeds/LibChatAnims
	url = https://github.com/wowace-mirror/LibChatAnims
