[submodule "embeds/LibStub"]
	path = embeds/LibStub
	url = https://github.com/p3lim-wow/LibStub
[submodule "embeds/LibChatAnims"]
	path = embeds/LibChatAnims
	url = https://github.com/p3lim-wow/LibChatAnims
